.main__btn {
    background: steelblue;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main__btn-right {
    left: 80%;
    top: 50%;
}
.main__btn-left {
    left: 16%;
    top: 50%;
}